<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/client/vendor/css")
    @Styles.Render("~/client/css")

    <meta name="description" content="Weather app" />
</head>
<body>
    @*<ul>
            <li>@Html.ActionLink("DE", "ChangeCulture", "Home", new { culture = "DE" }, null)</li>
            <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { culture = "EN" }, null)</li>
        </ul>*@

    <div>
        <div class="ui primary menu">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "active item" })
            <div class="menu right">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "item" })
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "item" })
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "item" })
                }
            </div>
        </div>
        @Html.ValidationSummary(true)
        @RenderBody()
    </div>

    @Scripts.Render("~/client/vendor/js")
    @Scripts.Render("~/client/js")
    @RenderSection("scripts", required: false)

</body>
</html>
