@model _TEMPLATE_.Services.Features.Account.LoginUser.Request

<div class="container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.UsernameOrEmail, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.UsernameOrEmail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    }
</div>