@model _TEMPLATE_.Services.Features.Account.RegisterUser.Request

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Username, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    }
</div>